<div class="event-card">
  <div class="event-card-content">
    <span>

      <%= cl_image_tag airdrop.photo, class: 'crypto-picture', style: "height:20%; width:20%;"%>

      <%= airdrop.crypto.upcase %>

    </span>
    <p><%= airdrop.quote.capitalize %></p>

    <div class="event-card-crypto">
      <% if airdrop.crypto.downcase == 'bitcoin'%>
        <abbr>₿itcoin: <i class="btc-parent"><%= airdrop.amount %></i></abbr>
        <div class="btc-price">

        </div>
      <% elsif airdrop.crypto.downcase == 'ethereum' %>
        <abbr>Ethereum: <i class="eth-parent"><%= airdrop.amount %></i></abbr>
        <div class="eth-price">

        </div>
      <% elsif airdrop.crypto.downcase == 'litecoin' %>
        <abbr>Łitecoin: <i class="ltc-parent"><%= airdrop.amount %></i></abbr>
        <div class="ltc-price">

        </div>
      <% end %>
    </div>

    <p class="event-card-vanity"><%= airdrop.description %></p>

    <ul class="social-media">
      <li class="media-item">
        <%= link_to "https://github.com/PelDoingCode", target: '_blank' do %>
          <i class="fab fa-github-square"></i>
        <% end %>
      </li>
      <li class="media-item">
        <%= link_to "https://twitter.com/realDonaldTrump", target: '_blank' do %>
          <i class="fab fa-twitter-square"></i>
        <% end %>
      </li>
      <li class="media-item">
        <%= link_to "https://www.instagram.com/pelgiuliano/?hl=fr", target: '_blank' do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </li>
      <li class="media-item">
        <%= link_to "https://www.linkedin.com/in/julien-pelegri-448639168/", target: '_blank' do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
      </li>
    </ul>
    <% count = 0 %>

    <% if current_user.invites.find_by_airdrop_id(airdrop.id) %>
      <% if current_user.invites.find_by_airdrop_id(airdrop.id).status == "accepted" %>

        <div class="register-card">
          <% count = 0 %>
          <% airdrop.invites.each do |user| %>
            <% count += 1 %>
            <% if user.user_id == current_user.id %>
              <%= link_to "Register", edit_user_registration_path, class: 'hoover profile-card__button button--blue js-message-btn', style: 'margin: -40px; top: 5px; position: relative;' %>
            <% end %>
          <% end %>

        </div>

      <% end %>
    <% end %>


    <p> <em>  Number of people participating : <%= count %> </em></p>

    <%= image_tag("wave-ali.svg", {class: 'fliped'})%>

  </div>

<% if airdrop.amount != 0 %>

  <% if airdrop.user_id == current_user.id %>
    <div class="form-contain">
      <div class="form-show">
        <h3 id="show-h3" style="margin-bottom: 20px;"> Invite people to this Event!</h3>
        <%= simple_form_for :invite, url: airdrop_invite_users_path(airdrop), html:{style:'width: 100%'}, method: :post do |f| %>
          <%= f.input :email, placeholder: 'satoshinakamoto@gmail.com' %>
          <div class="email-error" style="display: none;">The email is wrong</div>
          <div class="email-correct" style="display: none;">The email is correct</div>
            <%= f.simple_fields_for :file do |a| %>
              <%= a.input :csv, as: :file %>
            <% end %>
          <div class="show-button">
            <button id="invite-button" class="profile-card__button button--blue js-message-btn sweet-alert-demo" style="box-shadow: none;" disabled>
              Invite
            </button>
            <%= f.button :submit, 'Invite', class: 'd-none sweet-alert-submit' %>
              <%= link_to "Release Airdrop", airdrop_release_path(airdrop), :style=>"background: #ebeef8 !important;", :class=>"btn profile-card__button button--blue js-message-btn homebutt", id: "release-airdrop-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>

</div>
