<div class="profile-card js-profile-card">
  <div class="profile-card__img">
    <%= cl_image_tag airdrop.photo %>
  </div>
  <div class="profile-card__cnt js-profile-cnt">
    <div class="profile-card__name">
      <h1><%= airdrop.crypto.upcase %> </h1>
    </div>

    <div class="profile-card__txt " style="font-size:40px;">
      <% if airdrop.crypto.downcase == 'bitcoin'%>
        <abbr> <strong> ₿itcoin : <%= airdrop.amount %> </strong> </abbr>
      <% elsif airdrop.crypto.downcase == 'ethereum' %>
        <abbr> <strong> Ethereum : <%= airdrop.amount %> </strong></abbr>
      <% elsif airdrop.crypto.downcase == 'litecoin' %>
        <abbr> <strong>Łitecoin : <%= airdrop.amount %></strong></abbr>
      <% end %>
    </div>

    <div class="profile-card-loc">
      <span class="profile-card-loc__txt">
        <h3 class="show-title"> <em><%= airdrop.description %></em>  </h3>
      </span>
    </div>
    <ul class="list-inline social-media">
      <li class="github-">
        <a href="https://github.com/PelDoingCode" target="_blank">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li class="twitter-">
        <a href="https://twitter.com/realDonaldTrump" target="_blank">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li class="instagram-">
        <a href="https://www.instagram.com/pelgiuliano/?hl=fr" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="linkedin-">
        <a href="https://www.linkedin.com/in/julien-pelegri-448639168/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <% count = 0 %>
    <% airdrop.invites.each do |user| %>
      <% count += 1 %>
      <% if user.user_id == current_user.id %>
        <div class="profile-card-ctr">
          <button class="profile-card__button button--blue js-message-btn">
            <%= link_to "Register", edit_user_registration_path, :style=>"color:white;" %>
          </button>
        </div>
      <% end %>
    <% end %>
    <div class="profile-card-loc">
      <span class="profile-card-loc__txt">
        <h3 class="show-title"> Number of people participating : <%= count %> </h3>
      </span>
    </div>
  </div>
</div>


