<!-- form to create an airdrop event -->
<h3 class="heading" style="padding-top: 40px;">Create your Airdrop</h3>
<div class="row airdrop-form d-flex">
  <div class="col-lg-6">

  <%= simple_form_for(airdrop) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title  %>
      <%= f.input :crypto , label: 'The cryptocurrency for your aidrop', error: 'Choosing a cryptocurrency is mandatory, please specify one', collection: ['Bitcoin','Ethereum', 'Litecoin'] %>
      <%= f.input :amount, input_html: { class: "clickme" } %>
      <div class="form-create-price" style="color:white; font-size: 30px; text-align: center;">

      </div>
      <%= f.input :quote %>
      <%= f.input :description %>
      <%= f.input :photo, class: "insert-photo" %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="form-butt">
      <%= f.button :submit  , :class=>'profile-card__button button--blue js-message-btn ', style:'  position: relative; display: flex; margin: 0 auto;'%>
      </div>
    </div>

  <% end %>

  </div>

</div>


<div class="photo">
  <div class="home-svg0">
    <%= image_tag("parachute1.svg", {:style => "width:350px; position: relative;
    left: -906px;", class: 'falling'}) %>
  </div>
  <div class="home-svg1">
    <%= image_tag("parachute1.svg", {:style => "width:250px;", class: 'climbing'}) %>
  </div>
  <div class="home-svg2">
    <%= image_tag("parachute2.svg", {:style => "width:200px;", class: 'falling'}) %>
  </div>
  <div class="home-svg3">
    <%= image_tag("parachute2.svg", {:style => "width:100px;", class: 'climbing'}) %>
  </div>
  <div class="home-svg3">
    <%= image_tag("parachute2.svg", {:style => "width:120px; position: relative;
    left: -1300px;", class: 'climbing'}) %>
  </div>
</div>



