<!-- form to create an airdrop event -->
<h3 class="text-center p-3">Create an Airdrop event </h3>
<div class="row airdrop-form d-flex">
  <div class="col-lg-6">

  <%= simple_form_for(airdrop) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title  %>
      <%= f.input :crypto , label: 'The cryptocurrency for your aidrop', error: 'Choosing a cryptocurrency is mandatory, please specify one', collection: ['Bitcoin','Ethereum', 'Litecoin'] %>
      <%= f.input :amount , label: 'the amount of cryptocurrency you want to airdrop', error: 'Amount is mandatory, please specify one'%>
      <%= f.input :description %>
      <%= f.input :photo, class: "insert-photo" %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="form-butt">
      <%= f.button :submit  , :class=>'profile-card__button button--blue js-message-btn sweet-alert-demo', style:'  position: relative; display: flex; margin: 0 auto;'%>
      </div>
    </div>

  <% end %>

  </div>
</div>



