<!-- form for when you want to register to an airdrop -->

<%#= simple_form_for(user), url:  do |f| %>
<% #raise %>
<%#= user.nickname %>
<!--
no need of this form anymore we add it in the show page hidden directly  -->

<%= simple_form_for [@airdrop, Invite.new], url: new_airdrop_invite_path(@airdrop) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nickname %>
    <%= f.input :email %>
    <%= f.input :public_key %>
    <%= f.button :submit %>
  </div>

<% end %>
