<div class="full-container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Please note</strong> that some Airdrops are private which will require an invitation to participate!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<!-- <div class=
"container">
  <input id="searchBar" class="searchbar" type="text" placeholder="Search...">
  <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
</div> -->
  <div class="the-bfg">
    <%= form_tag airdrops_path, method: :get, :class => 'magic-bean-garden' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "magic-bean-form",
        placeholder: "Search by crypto! " %>
        <div class="gardener-clothes">
          <%= button_tag :submit, :class=>'search-butt' do %>
          <i class="fas fa-search"></i>
          <% end %>
        </div>
    <% end %>
  </div>

      <div class="card-wrapper">
        <% @airdrops.each do |airdrop| %>
          <div id="draw" class="airtop-card">
            <%= cl_image_tag airdrop.photo %>
            <div class="airtop-card-content">
              <h1><%= airdrop.crypto.upcase %> </h1>
              <% if airdrop.crypto.downcase == 'bitcoin'%>
                <abbr> <strong > ₿itcoin : <span class="btc-parent"> <%= airdrop.amount %> </span>  </strong> </abbr>
                <div class="btc-price" style="position: relative; top: -10px;">

                </div>
              <% elsif airdrop.crypto.downcase == 'ethereum' %>
                <abbr> <strong> Ethereum : <span class="eth-parent"> <%= airdrop.amount %> </span> </strong></abbr>
                <div class="eth-price" style="position: relative; top: -10px;">

                </div>
              <% elsif airdrop.crypto.downcase == 'litecoin' %>
                <abbr> <strong>Łitecoin : <span class="ltc-parent"> <%= airdrop.amount %> </span> </strong></abbr>
                <div class="ltc-price" style="position: relative; top: -10px;">

                </div>
              <% end %>
              <p><%= airdrop.description %></p>
              <%= link_to 'See this Airdrop', airdrop_path(airdrop), :class=>'btn index-button ind-but'%>
            </div>
          </div>
        <% end %>
    </div>
</div>

<div class="button-container-index" style="display:flex; justify-content: center; margin-top: 40px;">
      <div class="button-wrap"  style="margin: 50px; padding-bottom: 50px;">
        <div class="svg-wraper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="150" />
            <div id="text" style="  padding-bottom: 150px;">
              <%= link_to "Go Up", airdrops_path ,  :class=>'spot'%>
            </div>
          </svg>
        </div>
      </div>
</div>



