<div class="full-container">
  <h1 class="heading" style="padding-top: 50px;">Airdrops</h1>
  <div class="button-container-index" style="display:flex;   justify-content: space-around; margin-bottom: 60px">
        <div class="button-wraper" style="width: 100%; justify-content: space-evenly;">
          <div class="svg-wraper">
            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
              <rect id="shape" height="40" width="150" />
              <div id="text">
                <%= link_to "Home", root_path ,  :class=>'spot'%>
              </div>
            </svg>
          </div>
          <div class="svg-wraper">
            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
              <rect id="shape" height="40" width="150" />
              <div id="text">
                <%= link_to "Create event", new_airdrop_path ,  :class=>'spot'%>
              </div>
            </svg>
          </div>
        </div>
  </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Please note</strong> that some Airdrops are private which will require an invitation to participate!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <div class="card-wrapper">
        <% @airdrops.each do |airdrop| %>
        <div class="crypto-card" style="border-radius:20px; ">
            <img class="card-img" src="/assets/ethereum_blockchain_elix.png">
<!--             <img src="/assets/ether-index.png" alt="profile image" class="profile-image" style="background: black;">
 -->
            <%= cl_image_tag airdrop.photo, :class=>"profile-image", :style=>'background-color: white;'%>
            <h1><%= airdrop.crypto %> </h1>
            <p class="title name"><strong><%= airdrop.amount %></strong></p>
            <p class="about"><%= airdrop.quote %> </p>
            <%= link_to 'SEE THIS AIRDROP', airdrop_path(airdrop), :class=>'btn index-button'%>
        <!--     <a href="#" class="btn">Participate</a>  -->
            <ul class="list-inline social-media">
              <li class="github-">
                <a href="https://github.com/PelDoingCode" target="_blank">
                  <i class="fab fa-github-square"></i>
                </a>
              </li>
              <li class="twitter-">
                <a href="https://twitter.com/realDonaldTrump" target="_blank">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="instagram-">
                <a href="https://www.instagram.com/pelgiuliano/?hl=fr" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="linkedin-">
                <a href="https://www.linkedin.com/in/julien-pelegri-448639168/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
        </div>
        <% end %>
    </div>
</div>
<div class="button-container-index" style="display:flex; justify-content: center; margin-top: 40px;">
      <div class="button-wrap"  style="margin: 50px; padding-bottom: 50px;>
       <div class="svg-wraper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="150" />
            <div id="text">
              <%= link_to "GO UP", airdrops_path ,  :class=>'spot'%>
            </div>
          </svg>
        </div>
      </div>
