<h1> All Airdrops </h1>
<p> Here an expliquative text to say that some are private need to be invited !</p>

<div class="card-container">

  <% @airdrops.each do |airdrop| %>
    <%= link_to airdrop, class: 'card' do %>

    <div class="card-wrapper">
      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_JeARHjzjG69lOhVs-vYx3ACoPjVzpQqEXhOsyacKzZgWuoZGzg", style="border-radius:15px;" />
        <div class="card-product-infos">
          <h1> <%= airdrop.crypto %>  </h1>
          <strong> <h2> <%= airdrop.amount %>  </h2> </strong>
          <p> <%= airdrop.quote %>  </p>
        </div>
      </div>

    </div>
  </div>


    </div>

    <% end %>

  <% end %>

</div>



<br>

<%= link_to " see all airdrops", airdrops_path%> |
<%= link_to "go home page ", root_path%> |
<%= link_to "go to donate page", airdrop_donate_path%> |
<%= link_to "add a new airdrop", new_airdrop_path%> |
<br>
<br>
<br>
<br>
<br>

<section>
    <div class="container">
      <h1 class="heading">Airdrop</h1>
      <div class="card-wrapper">
        <div class="card">
         <!--  <%= image_tag 'ethere.jpg', class: 'card-img' %> -->
          <img class="card-img" src="/assets/ethereum_blockchain_elix.png">
          <img src="/assets/ethere.jpg" alt="profile image" class="profile-image">
          <h1>Name</h1>
          <p class="title name">Ethereum</p>
          <p class="about">dummy text dummy text dummy text dummy text
          dummy text dummy text dummy text dummy text dummy text dummy text
          </p>
          <a href="#" class="btn">Conctact</a>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-instagram"></i></a> </li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-slack"></i></a> </li>
          </ul>
        </div>

        <div class="card">
          <!--  <%= image_tag 'ethere.jpg', class: 'card-img' %> -->
          <img class="card-img" src="/assets/ethereum_blockchain_elix.png">
          <img src="/assets/ethere.jpg" alt="profile image" class="profile-image">
          <h1>Name</h1>
          <p class="title name">Ethereum</p>
          <p class="about">dummy text dummy text dummy text dummy text
          dummy text dummy text dummy text dummy text dummy text dummy text
          </p>
          <a href="#" class="btn">Conctact</a>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-instagram"></i></a> </li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-slack"></i></a> </li>
          </ul>
        </div>

        <div class="card">
          <!--  <%= image_tag 'ethere.jpg', class: 'card-img' %> -->
          <img class="card-img" src="/assets/ethereum_blockchain_elix.png">
          <img src="/assets/ethere.jpg" alt="profile image" class="profile-image">
          <h1>Name</h1>
          <p class="title name">Ethereum</p>
          <p class="about">dummy text dummy text dummy text dummy text
          dummy text dummy text dummy text dummy text dummy text dummy text
          </p>
          <a href="#" class="btn">Conctact</a>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-instagram"></i></a> </li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-slack"></i></a> </li>
          </ul>
        </div>

        <div class="card">
          <!--  <%= image_tag 'ethere.jpg', class: 'card-img' %> -->
          <img class="card-img" src="/assets/ethereum_blockchain_elix.png">
          <img src="/assets/ethere.jpg" alt="profile image" class="profile-image">
          <h1>Name</h1>
          <p class="title name">Ethereum</p>
          <p class="about">dummy text dummy text dummy text dummy text
          dummy text dummy text dummy text dummy text dummy text dummy text
          </p>
          <a href="#" class="btn">Conctact</a>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-instagram"></i></a> </li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a> </li>
            <li><a href="#"><i class="fab fa-slack"></i></a> </li>
          </ul>
        </div>

      </div>
    </div>
</section>
