<% @airdrops.each do |airdrop| %>
  <%= link_to airdrop, class: 'card' do %>

  <div class="card-wrapper">
    <div class="card-product">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_JeARHjzjG69lOhVs-vYx3ACoPjVzpQqEXhOsyacKzZgWuoZGzg", style="border-radius:15px;" />
      <div class="card-product-infos">
        <h1> <%= airdrop.crypto %>  </h1>
        <strong> <h2> <%= airdrop.amount %>  </h2> </strong>
        <p> <%= airdrop.quote %>  </p>
      </div>
    </div>

  </div>

  <% end %>
<% end %>



<br>

<%= link_to " see all airdrops", airdrops_path%> |
<%= link_to "go home page ", root_path%> |
<%= link_to "go to donate page", airdrop_donate_path%> |
<%= link_to "add a new airdrop", new_airdrop_path%> |
<br>
<br>
<br>
<br>
<br>



