<div class="full-container">
  <h1 class="heading">Airdrops</h1>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Please note</strong> that some Airdrops are private which will require an invitation to participate!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

      <div class="card-wrapper">
           <% @airdrops.each do |airdrop| %>

        <div class="crypto-card">
            <img class="card-img" src="/assets/ethereum_blockchain_elix.png">
<!--             <img src="/assets/ether-index.png" alt="profile image" class="profile-image" style="background: black;">
 -->
            <%= image_tag airdrop.photo, :class=>"profile-image", :style=>'background-color: white;'%>
            <h1><%= airdrop.crypto %> </h1>
            <p class="title name"><%= airdrop.amount %></p>
            <p class="about"><%= airdrop.quote %> </p>
            <%= link_to 'SEE THIS AIRDROP', airdrop_path(airdrop), :class=>'btn index-button'%>
        <!--     <a href="#" class="btn">Participate</a>  -->
            <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-square"></i></a> </li>
              <li><a href="#"><i class="fab fa-instagram"></i></a> </li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a> </li>
              <li><a href="#"><i class="fab fa-slack"></i></a> </li>
            </ul>
        </div>
           <% end %>

    </div>
</div>


<%= link_to " see all airdrops", airdrops_path%> |
<%= link_to "go home page ", root_path%> |
<%= link_to "go to donate page", airdrop_donate_path%> |
<%= link_to "add a new airdrop", new_airdrop_path%> |
