<% @airdrops.each do |airdrop| %>
  <%= link_to airdrop, class: 'card' do %>

  <div class="card-wrapper">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2> <%= airdrop.crypto %> | <%= airdrop.amount %> </h2>
      </div>
    </div>

  </div>

  <% end %>
<% end %>



<div class="wrapper">
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="top">
              <h3 class="name">Jeffery Rogers</h3>
              <div class="date"><span>06 September</span></div>
            </div>
            <div class="bottom">
              <h2>Toughening the Mind by Challenging the Body</h2>
            </div>
          </div>
          <div class="card-bg">
            <img
              class="bg-img"
              src="https://cdn.stocksnap.io/img-thumbs/960w/SKI2T9YF2P.jpg"
              alt="leafs"
            />
          </div>
          <div class="shadow">
            <img
              class="shadow-img"
              src="https://cdn.stocksnap.io/img-thumbs/960w/SKI2T9YF2P.jpg"
              alt="leafs"
            />
          </div>
        </div>
</div>


<br>

<%= link_to " see all airdrops", airdrops_path%> |
<%= link_to "go home page ", root_path%> |
<%= link_to "go to donate page", airdrop_donate_path%> |
<%= link_to "add a new airdrop", new_airdrop_path%> |
<br>
<br>
<br>
<br>
<br>



