<h1> testtt here is the airdrop </h1>


<h3 class="title"><%= @airdrop.amount %> <%= @airdrop.crypto %></h3>

<%#= link_to "participate to this airdrop", airdrop_register_path%> |



<%= link_to "see all airdrops", airdrops_path%> |
<%= link_to "go home page ", root_path%> |
<%= link_to "go to donate page", airdrop_donate_path%> |
