<h1 class="heading" style="padding-top:30px;">EVENTS</h1>
<div class="wrapper">
  <%= render 'components/airtop_card', airdrop: @airdrop %>
  <% if @airdrop.user_id == current_user.id %>
    <div class="boutton-show" style="display: flex; justify-content: space-around;">
      <div class="profile-card-ctr">
      </div>
      <div class="form-contain">
        <div class="form-show">
          <h3 style="text-align: center;"> INVITE !</h3>
          <%= simple_form_for :invite, url: airdrop_invite_users_path(@airdrop), html:{style:'width: 100%'}, method: :post do |f| %>
            <%= f.input :email, placeholder: 'satoshinakamoto@gmail.com' %>
            <%= f.simple_fields_for :file do |a| %>
              <%= a.input :csv, as: :file %>
            <% end %>
            <div class="show-button">
              <button class="profile-card__button button--blue js-message-btn sweet-alert-demo">
              <%= f.button :submit, 'Invite' %>
            </button>
            <button class="profile-card__button button--blue js-message-btn">
          <%= link_to "Release Airdrop", airdrop_release_path(@airdrop), :style=>"color:white;", :class=>"sweet-alert-demo"%>
        </button>
        </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
























<% if false %>


  <div class="grouped-buttons" style="display: flex; justify-content: space-around;">


    <div class="svg-wraper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <%= link_to "Airdrops", airdrops_path,  :class=>'spot' %>
        </div>
      </svg>
    </div>


    <% if @airdrop.user_id == current_user.id %>
      <%= link_to "Release Airdrop", airdrop_release_path(@airdrop),  :class=>'btn index-button' %>
    <% end %>




    <% @airdrop.invites.each do |user| %>
    <% #raise %>
    <!--   here i can't filter people ???????????????????????
      here i can't filter people ???????????????????????
      here i can't filter people ???????????????????????
      here i can't filter people ??????????????????????? -->

      <% #raise %>
      <% if user.user_id == current_user.id %>
        <div class="svg-wraper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="150" />
            <div id="text">
              <%= link_to "Register", edit_user_registration_path,  :class=>'spot' %>
            </div>
          </svg>
        </div>
      <% end %>
    <% end %>

    <div class="svg-wraper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <%= link_to "Home", root_path ,  :class=>'spot'%>
        </div>
      </svg>
    </div>

  </div>


  <!--
  # don't need this code yet : it's a more difficult feature !
   -->

  <% if false %>
    <%#= link_to "participate to this airdrop", airdrop_register_path(@airdrop) %>
    <%= simple_form_for [@airdrop, Invite.new], url: airdrop_invites_path(@airdrop) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= hidden_field_tag :airdrop_id, @airdrop.id %>
        <%#= hidden_field_tag :status, "Accepted" %>
        </div>
         <%= f.button :submit, "Create invites to this airdrop" %>
    <% end %>
  <% end %>

<% end %>









































