<h1> <%= @airdrop.title%>  </h1>


<h3 class="title"><%= @airdrop.amount %> <%= @airdrop.crypto %></h3>

<br>
<br>
<br>
<br>

<!-- # here is somehow the way to access the participation but
# no need for this feature yet -->

<%#= link_to "participate to this airdrop", airdrop_register_path%>

<h3> here is the form to invite people
</h3>
<%# if current_user.airdrops.include?(@airdrop) %>
  <%= simple_form_for :invite, url: airdrop_invite_users_path(@airdrop), method: :post do |f| %>
      <%= f.input :email, placeholder: 'satoshinakamoto@gmail.com' %>
      <%= f.button :submit,  :class=>'btn index-button' %>

  <% end %>
<% #end %>

<br>
<br>
<br>
<br>
<br>


<%= link_to "Release Airdrop", airdrop_release_path(@airdrop),  :class=>'btn index-button' %>



<%= link_to "Register", edit_user_registration_path,  :class=>'btn index-button' %>


<%= link_to "Airdrops", airdrops_path,  :class=>'btn index-button' %>
<br>
<%= link_to "Home", root_path ,  :class=>'btn index-button'%>


<!--
# don't need this code yet : it's a more difficult feature !
 -->

<% if false %>
  <%#= link_to "participate to this airdrop", airdrop_register_path(@airdrop) %>
  <%= simple_form_for [@airdrop, Invite.new], url: airdrop_invites_path(@airdrop) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :airdrop_id, @airdrop.id %>
    <%#= hidden_field_tag :status, "Accepted" %>
    </div>
      <%= f.button :submit, "Create invites to this airdrop" %>

  <% end %>
<% end %>
