<div class="wrapper-dash">

  <div class="header-first">
    <%= cl_image_tag current_user.photo, class: "dashboard-image border-glow" %>
    <div class="dashboard-writing">
        <div class="loader">
          <div class="face face1">
            <div class="circle"></div>
          </div>
        <!--   <div class="face face2">
            <div class="circle"></div>
          </div> -->
      </div>
      <h1> Hello, <%= current_user.nickname %> !</h1>
      <p><strong>Wallet balance:</strong> <%= current_user.wallet_balance %></p>
      <p><strong>Your public key:</strong> <%= current_user.public_key %></p>
      <%= image_tag("parachute2.svg", {:style => "width:100px;", class: 'climbing climber'}) %>
      <%= image_tag("parachute2.svg", {:style => "width:50px; ", class: 'falling climber1'}) %>
    </div>
  </div>












  <div class="user_invitation-user_airdrop">
    <div class="user_airdrop">
      <div class="header-container">
        <%= link_to toggle_path(link: 'airdrops'), class: 'btn profile-card__button button--blue js-message-btn', remote: true  do %>
          My airdrops
          <div class='badge'>
            <%= @airdrop.where(user: current_user.id).count %>
          </div>
        <% end %>

        <%= link_to toggle_path(link: 'invitations'), class: 'btn profile-card__button button--blue js-message-btn', remote: true do %>
          My invites
          <div class='badge'>
            <%= current_user.invites.count %>
          </div>
        <% end %>
      </div>

      <div id="airdrop-cards">
        <%= render 'users/cards' %>
      </div>
    </div>
  </div>
</div>

























<% if false %>
<div class="dashboard-container">
  <div class="photo-dash" style="margin-left: 45%;">
    <%= cl_image_tag current_user.photo, :style=>"height: 150px; border-radius:50%;" %>
  </div>


  <div >
    <h1> Your invitations :  </h1>
    <% @invite.each do |x| %>
      <%= x.airdrop.crypto %> :
      <%= x.airdrop.amount %>
      <div class="profile-card-ctr">
        <button class="profile-card__button button--blue js-message-btn">
          <%= link_to "Register", edit_user_registration_path, :style=>"color:white;" %>
        </button>
      </div>
    <% end %>
  </div>

  <div>
    <h1> YOUR AIRDROPS </h1>
  </div>
  <div>
    <% airdrop = Airdrop.where(user: current_user.id) %>
    <% airdrop.each do |x| %>
      <div>
        <%= x.title %>
      </div>
      <div>
        <%= x.crypto %>
      </div>
      <div>
        <%= x.amount %>
      </div>
      <div>
        <%= x.description %>
      </div>
    <% end %>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% if false %>

<div class="sidebar-header">
<div class="user-pic">
<img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
</div>
<div class="user-info">
<span class="user-name">
    <% if current_user.wallet_balance < 2 %>
      <h1> Wallet balance : <%= current_user.wallet_balance %></h1>
      <p> You balance is low you need to do AN AIRDROP</p>
    <% end %>
</span>
<span class="user-status">
<i class="fa fa-circle"></i>
<span class="status">Online</span>
</span>
</div>
</div>

 <ul>
  <li>Home</li>
  <li>About</li>
  <li>Contact</li>
  </ul>
</div>



<div class="alert alert-success" role="alert" style="width: 500px;">
 Welcome back to your dashboard<strong> <%= current_user.nickname %>!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



 </div>
  <div class="balance-dash">
    <% if current_user.wallet_balance < 2 %>
      <h1> your wallet balance : <%= current_user.wallet_balance %></h1>
      <p> You balance is low you need to do AN AIRDROP</p>
    <% end %>

    <% if current_user.wallet_balance >= 2 %>
      <h1> your wallet balance : <%= current_user.wallet_balance %></h1>
      <h3> MAN YOU ARE RICH </h3>
      <%= image_tag "https://media.giphy.com/media/lptjRBxFKCJmFoibP3/giphy.gif", style: 'height:150px ; width:150px;' %>
    <% end %>
  </div>

  <div class="invites-dash">
    <div class="invite-title-dash">
      <h1> YOUR INVITATIONS </h1>
    </div>
    <div class="invite-show-dash">
      <% invite = Invite.where(email: current_user.email) %>
      <% invite.each do |x| %>
        <h1> You are participating to the following airdrop : </h1>
        <%= x.airdrop.crypto %> :
        <%= x.airdrop.amount %>
        <%# raise %>
      <% end %>
    </div>
    <div class="invite-title-dash">
      <h1> YOUR AIRDROPS </h1>
    </div>
    <div class="invite-show-dash">
      <% airdrop = Airdrop.where(user: current_user.id) %>
        <% #raise %>
      <% airdrop.each do |x| %>
        <%= x.title %>
        <%= x.crypto %>
        <%= x.amount %>
        <%= x.description %>
        <%# raise %>
      <% end %>
    </div>
  </div>

    <% end %>
<% end %>
