<nav>
  <div class="navbar-display-box">
    <div class="logo">
        <%= image_tag "logo-1.png", style: 'height: 100%; transition: .5s;' %>
        <%= link_to "AirTop", :root, id: 'air'%>
    </div>

    <ul class="nav-item">
      <li><%= link_to "Airdrops", airdrops_path %></li>


      <!-- <li><%= link_to "Home", :root %></li> -->
      <li><%= link_to "Create event", new_airdrop_path%></li>
      <!--<li><%= link_to "Airdrops", airdrops_path %></li> -->
  <!--     <li><%= link_to "Donate", airdrop_donate_path%></li> -->
      <li>
        <% if user_signed_in? %>
          <%= link_to "Logout" , destroy_user_session_path, method: :delete %>
          <% current_user.nickname.capitalize %>
          <%= link_to current_user.nickname.capitalize, dashboard_path %>
        <% end %>

      </li>

    </div>
    </ul>
    <!--
    <%= image_tag "metamask-logo.png", class: 'fox-head', style: 'height: 100%; transition: .5s;' %>
    -->

  </div>


</nav>

