<nav>
  <div class="logo">
      <%= image_tag "logo-1.png", style: 'height: 100%; transition: .5s;' %>
      <%= link_to "AirTop", :root %>
  </div>
  <ul>
    <li><%= link_to "Home", :root %></li>
    <li><%= link_to "AirTop", airdrops_path %></li>
    <li>
        <% current_user.nickname.capitalize %>
        <%= link_to current_user.nickname.capitalize, airdrops_path %>
    </li>
    <li><%= link_to "Donate", airdrop_donate_path%></li>
  </ul>
</nav>
