<nav>
  <div class="navbar-display-box">
    <div class="logo">
        <%= image_tag "logo-1.png", style: 'height: 100%; transition: .5s;' %>
        <%= link_to "AirTop", :root, id: 'air'%>
    </div>

    <div class="svg-wraper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <%= link_to "Create event", new_airdrop_path ,  :class=>'spot'%>
        </div>
      </svg>
    </div>
    <div class="nav-item">


      <%= link_to "Airdrop", airdrops_path %>

        <% if user_signed_in? %>
          <%= link_to "Logout" , destroy_user_session_path, method: :delete %>
          <% current_user.nickname.capitalize %>
          <%= link_to current_user.nickname.capitalize, dashboard_path %>
        <% else %>
          <%= link_to 'Sign in', new_user_registration_path %>
          <%= link_to "Log in", new_session_path(resource_name) %>
        <% end %>


    </div>
  </div>


</nav>
