<div style="height: 100vh">
  <div class="contain">
    <div class="landing-contain" style="padding-top: 70px;">
      <div class="landing-text">
        <h1 class='home-title'>Automate your</h1>
        <h1 class='home-title'>Airdrops</h1>
        <div class="button-wraper">
          <div class="svg-wraper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">

          <div id="text">
            <%= link_to "Create Event", new_airdrop_path, :class=>'btn profile-card__button button--blue js-message-btn carrot', style: 'margin-right: 74px; margin-left: 53px;'%>
          </div>
        </svg>
        </div>
        <div class="svg-wraper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <div id="text">
            <%= link_to "Airdrops", airdrops_path, :class=>'btn profile-card__button button--blue js-message-btn homebutt'%>
          </div>
        </svg>
      </div>

    </div>
      <span class='home-p'> Simplifying your Cryptocurrencies airdrops, let us distribute your cryptos in a hassle free manner.
        Trust and secure.
        Requiring no technical knowledge.</span>
      </div>
    </div>
  </div>



  <div class="photo">
    <div class="home-svg0">
      <%= image_tag("parachute1.svg", {:style => "width:310px;", class: 'falling'}) %>
    </div>
    <div class="home-svg1">
      <%= image_tag("parachute1.svg", {:style => "width:250px;", class: 'climbing'}) %>
    </div>
    <div class="home-svg2">
      <%= image_tag("parachute2.svg", {:style => "width:200px;", class: 'falling'}) %>
    </div>
    <div class="home-svg3">
      <%= image_tag("parachute2.svg", {:style => "width:100px;", class: 'climbing'}) %>
    </div>
  </div>
</div>

<div class="about" style="height: 100vh; margin-top: 10%; margin-bottom: 15%;">
  <div class="about-text">
    <h1>What is an Airdrop and why AirTop?</h1>
    <p>Airdrop is the distribution of cryptocurrencies, for free, to public wallet addresses (similar to account number associated with your bank account). Currently you need the public wallet address and the email to invite people to an Airdrop. On top of this you need to send each invitation individually. With Airtop all you need is their email addresses and you can mass invite all the lucky people!</p>
  </div>
  <h1 style="margin-top: 15%; margin-bottom: 4%;">How it works : 4 steps </h1>
  <div class="about-card-container">
    <div class="about-card">
      <div class="photo-1 all-photo">
      </div>
      <div class="text">
        <h4>Create</h4>
        <p> Choose the type and amount of your chosen crypocurrency</p>
      </div>
    </div>
    <div class="about-card">
      <div class="photo-2 all-photo">
      </div>
      <div class="text">
        <h4>Invite</h4>
        <p>Invite as many people as you want to participate in your drop</p>
      </div>
    </div>
    <div class="about-card">
      <div class="photo-3 all-photo">
      </div>
      <div class="text">
        <h4>Register</h4>
        <p>The Invitees now must register (if not done already) to accept the invite</p>
      </div>
    </div>
    <div class="about-card">
      <div class="photo-4 all-photo">
      </div>
      <div class="text">
        <h4>Release</h4>
        <p>Release the airdrop so the amount of your chosen currency is divided equally.</p>
      </div>
    </div>
  </div>

</div>


