
<div class="container">
  <div class="landing-container" style="padding-top: 100px;">

    <div class="landing-text">
      <h1 class='home-title'>AUTOMATE YOU <br> AIRDROPS</h1>
      <br>
      <span class='home-p'> Simplifying your Cryptocurrencies airdrops, let us distribute your cryptos in a hasle free manner. <br> <br>
      Trust and secure. <br> <br>
      Requiring no technical knowledge.</span>
      <br>

      <div class="button-wraper" >

        <%= link_to "Create  event", new_airdrop_path, :class=>'btn home-button'%>

        <%= link_to "Airdrops", airdrops_path, :class=>'btn home-button'%>

      </div>
    </div>

    <div class="photo">
      <div class="home-svg0">
        <%= image_tag("parachute1.svg", {:style => "width:350px;"}) %>
      </div>
      <div class="home-svg1">
        <%= image_tag("parachute1.svg", {:style => "width:250px;"}) %>
      </div>
      <div class="home-svg2">
        <%= image_tag("parachute2.svg", {:style => "width:200px;"}) %>
      </div>
      <div class="home-svg3">
        <%= image_tag("parachute2.svg", {:style => "width:100px;"}) %>
      </div>
    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!-- <br>
<br>
<br>
<br>
<br>


  <h1> here the place to present airtops !</h1>
<br>
<br>
<br>
<br>
<br>

  <p> before the action un call to action to take all emails </p> -->
</div>
